SARVAM_API_KEY=
SARVAM_API_BASE_URL=https://api.sarvam.ai
INTERNAL_AI_SERVICE_TOKEN=
SARVAM_MODEL=sarvam-105b
SARVAM_TIMEOUT_SECONDS=20


SARVAM_API_KEY=sk_6gw2n0qq_akPiGuna23LN7C3xheu9eOfN
SARVAM_API_APP=rstropro_ai
SARVAM_API_BASE_URL=https://api.sarvam.ai
INTERNAL_AI_SERVICE_TOKEN=f0468b595e70b4c6dab3a3ee50359d8a53924d63cb6557226596b9dab8b79814
